    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" value="{{this.task}}" class="form-control" id="floatingInput" placeholder="Task" name="task">
        </div>
    </div>
    
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button> 
    </div>